@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

#banner-title-text{
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    animation: textAni 10s linear infinite;
    font-style: normal;
    margin: -7rem;
}
@keyframes textAni {
    0%{
        transform: translateX(100px);
    }
    50%{
        transform: translateX(-700px);
    }
    100%{
        transform: translateX(100px);
    }
}